html, body {
    height: 100%;
    margin: 0;
}

#map {
    width: 100%;
    height: 100vh;
}

.leaflet-container {
    background: #eef2f3; /* fallback bakgrunn */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
